@model TourMap.AdminWeb.Models.Tour

@{
    ViewData["Title"] = "Delete Tour";
}

<h2>Delete Tour</h2>
<div class="alert alert-warning">
    Bạn có chắc muốn xóa tour <strong>@Model.Name</strong>?
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
